body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  line-height: 29px;
  font-weight: 100;
  font-size: 24px;
  color: #2a292c;
  margin-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-temperature img {
  margin-left: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temperature .unit {
  position: relative;
  font-size: 16px;
}
.weather-temperature a {
  text-decoration: none;
}
.weather-app-wrapper small {
  text-align: center;
}
